<footer class="site_footer">
  <div class="footer">
    <section class="footer_about">
      <img src="../assets/images/logo_white.png" alt="" />
      <p>
        Wybierz się z nami w niezapomnianą podróż pełną komfortu, pięknych
        miejsc i wyjątkowych wspomnień.
      </p>
      <div class="icons">
        <a href="https://facebook.com"
          ><img src="../assets/icons/facebook.png" alt="Facebook"
        /></a>
        <a href="https://instagram.com"
          ><img src="../assets/icons/instagram.png" alt="Instagram"
        /></a>
        <a href="https://pinterest.com"
          ><img src="../assets/icons/pinterest.png" alt="Pinterest"
        /></a>
        <a href="https://youtube.com"
          ><img src="../assets/icons/youtube.png" alt="Youtube"
        /></a>
      </div>
    </section>
    <nav class="footer_travel">
      <h4>Podróże</h4>
      <ul>
        <li><a href="destinations.html">Kierunki</a></li>
        <li><a href="hotels.html">Hotele</a></li>
        <li><a href="book.html">Oferty</a></li>
        <li>Przewodniki</li>
      </ul>
    </nav>
    <nav class="footer_company">
      <h4>Nasza firma</h4>
      <ul>
        <li><a href="about.html">O nas</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li>Kariera</li>
        <li><a href="contact.html">Kontakt</a></li>
      </ul>
    </nav>
    <nav class="footer_support">
      <h4>Wsparcie</h4>
      <ul>
        <li>FAQ</li>
        <li>Regulamin</li>
      </ul>
    </nav>
    <section class="footer_newsletter">
      <h4>Newsletter</h4>
      <p>Zapisz się i otrzymuj informacje o nowych kierunkach podróży.</p>
      <form class="newsletter_form">
        <input type="email" placeholder="Twój email" />
        <button type="submit">Zapisz się</button>
      </form>
    </section>
  </div>
  <p class="copyright">2026 © Amazing Travel. Wszystkie prawa zastrzeżone.</p>
</footer>
