<nav class="navbar">
  <a
    href="index.html"
    class="navbar_logo"
    aria-label="Amazing Travel - strona główna"
  >
    <img src="assets/images/logo_white.png" class="logo logo_light" alt="" />
    <img src="assets/images/logo.png" class="logo logo_dark" alt="" />
  </a>

  <button class="hamburger" type="button" aria-label="Otwórz menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <ul>
    <li><a href="index.html">Strona główna</a></li>
    <li><a href="destinations.html">Kierunki</a></li>
    <li><a href="hotels.html">Hotele</a></li>
    <li><a href="about.html">O nas</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="contact.html">Kontakt</a></li>
  </ul>
</nav>
